.border {
    padding-left: 0px;
    padding-right: 0px;
    border: 2px solid #eea236;
    padding-bottom: 30px;
}
.register {
    border-radius: 0px;
}
.row {
    margin-top:70px;
}
.page-header {
    margin-left: 70px;
    margin-top: 15px;
}
img {
    margin-top: 30px;
}
a {
    text-decoration: none;
}
.errors {
    color: red;
    margin-top: 5px;
}
.alert {
    margin-top: 15px;
}
