
          <h4>{{ 'tableOrder' | translate }}</h4><br/>

          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="text-center">{{ 'orderNo' | translate }}</th>
                <th class="text-center">{{ 'supplier' | translate }}</th>
                <th class="text-center">{{ 'issueDate' | translate }}</th>
                <th class="text-center">{{ 'paymentDate' | translate }}</th>
                <th class="text-center">{{ 'delivery' | translate }}</th>
                <th class="text-center">{{ 'deliveryDate' | translate }}</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
               <tr *ngFor="let order of orders; let i of index">
                    <td class="text text-center" contenteditable='true' (input)="onRowClickOrder($event, order, 'order.orderNo')">{{order.orderNo}}</td>
                    <td class="text text-center">{{order.supplier.name}}</td>
                    <td class="text text-center" contenteditable='true' (input)="onRowClickOrder($event, order, 'order.issueDate')">{{order.issueDate | date: 'yyyy-MM-dd'}}</td>
                    <td class="text text-center" contenteditable='true' (input)="onRowClickOrder($event, order, 'order.paymentDate')">{{order.paymentDate | date: 'yyyy-MM-dd'}}</td>
                    <td class="text text-center">{{order.hasDelivey}}</td>
                    <td class="text text-center" contenteditable='true' (input)="onRowClickOrder($event, order, 'order.deliveryDate')">{{order.deliveryDate | date: 'yyyy-MM-dd hh:mm a'}}</td>
                    <td class="text-center">
                      <button type="submit" class="btn btn-warning" (click)="editButton(order)">{{ 'edit' | translate }}</button>
                    </td>
                    <td class="text-center">
                      <button type="submit" class="btn btn-danger" (click)="deleteButton(order)">{{ 'delete' | translate }}</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-delete-dialog [(visible)]="showDialog" class="text-center">
            <h1>{{ 'areYouSure' | translate }}</h1>
            <div class="text-center buttons">
              <button class="btn btn-lg btn-primary" (click)="deleteOrder()">{{ 'yes' | translate }}</button>
              <button class="btn btn-lg btn-danger" (click)="cancelButton()">{{ 'no' | translate }}</button>
            </div>
        </app-delete-dialog>
