.form-check{
  margin-bottom: 10px;
}
.buttons {
  padding-left:40px;
  padding-right: 0px;
}
.alert-danger h4 {
  margin-left:25px;
}
.food-div, .quantity-div {
  margin-left: -10px;
}
.add-div {
  margin-top: 23px;
  padding-left:0px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color:#d9edf7;
}
.table tbody tr .text{
  padding-top: 15px;
}
.table{
  border:1px solid #0275d8;
}
.table thead{
  background-color:#0275d8;
  color:white;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #0275d8;
}
