          <h4>{{ 'newOrder' | translate }}</h4><br/>
          <div class="row order-form">
            <div class="col-md-12">
              <form>
                <div class="row">
                  <div class="form-group col-md-8">
                    <label for="orderNoInput">{{ 'orderNo' | translate }}</label>
                    <input [(ngModel)]="order.orderNo" name="orderNo" type="text" class="form-control" id="orderNoInput" maxlength="15"/>
                  </div>
                   <div class="form-group col-md-4">
                    <label for="supplierInput">{{ 'supplier' | translate }}</label>
                    <select class="form-control" [(ngModel)]="selectedSupplier.id" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let supplier of suppliers" value={{supplier.id}} >{{supplier.name}}</option>
                    </select>
                  </div>
                    <div class="form-group col-md-6">
                      <label for="issueDateInput">{{ 'issueDate' | translate }}</label>
                      <input [(ngModel)]="order.issueDate" name="issueDate" type="date" class="form-control" id="issueDateInput" maxlength="10"/>
                    </div>
                  <div class="form-group col-md-6">
                      <label for="paymentDateInput">{{ 'paymentDate' | translate }}</label>
                      <input [(ngModel)]="order.paymentDate" name="paymentDate" type="date" class="form-control" id="paymentDateInput"/>
                    </div>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input id="hasDeliveyInput" [(ngModel)]="deliveryFlag" name="hasDelivey" type="checkbox" class="form-check-input">
                      {{ 'checkForDelivery' | translate }}
                    </label>
                  </div>
                  <div class="row" >
                    <div class="form-group col-md-6" *ngIf="deliveryFlag">
                      <label for="deliveryDateInput">{{ 'deliveryDate' | translate }}</label>
                      <input [(ngModel)]="order.deliveryDate" name="deliveryDate" type="date" class="form-control" id="deliveryDateInput" />
                    </div>
                    <div class="form-group col-md-6" *ngIf="deliveryFlag">
                      <label for="deliveryTimeInput">{{ 'deliveryTime' | translate }}</label>
                      <input [(ngModel)]="order.deliveryTime" name="deliveryTime" type="time" class="form-control"  id="deliveryTimeInput">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12 alert alert-danger" *ngIf="errorsCounter != 0">
                      <h4>{{ 'errors' | translate }}</h4>
                      <ul>
                        <li *ngFor="let error of errors"> {{ error | translate }} </li>
                      </ul>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="buttons col-md-offset-8 col-md-4"><br/>
                          <button type="submit" class="btn btn-primary" (click)="saveOrder()">{{ 'submit' | translate }}</button>&nbsp;
                          <button type="submit" class="btn btn-warning" (click)="clearForm()">{{ 'cancel' | translate }}</button>
                      </div>
                     </div>
                  </div>

                  <hr/>

                  <div class="row">
                      <div class="form-group col-md-3">
                        <label for="foodTypeInput">{{ 'itemCategory' | translate }}</label>
                        <select class="form-control" [(ngModel)]="selectedFoodType.id" [ngModelOptions]="{standalone: true}" (change)="changeFoodType()">
                          <option *ngFor="let foodType of foodTypes" value={{foodType.id}} >{{foodType.name}}</option>
                        </select>
                      </div>
                      <div class="form-group col-md-3 food-div">
                          <label for="foodInput">{{ 'itemName' | translate }}</label>
                          <select class="form-control" [(ngModel)]="selectedFood.id" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let food of foods" value={{food.id}} >{{food.name}}</option>
                          </select>
                      </div>
                      <div class="form-group col-md-3 quantity-div">
                        <label for="quantityInput">{{ 'quantity' | translate }}</label>
                        <input type="number" class="form-control" id="quantityInput" [(ngModel)]="currentQuantity" name="currentQuantity" />
                      </div>
                      <div class="form-group col-md-2">
                          <label for="unitInput">{{ 'unit' | translate }}</label>
                          <select class="form-control" [(ngModel)]="selectedUnit.name" [ngModelOptions]="{standalone: true}" (change)="changeUnitRate()">
                            <option *ngFor="let unit of units" value={{unit.name}} >{{unit.name}}</option>
                          </select>
                      </div>
                      <div class="form-group col-md-1 add-div">
                        <button class="circle-button btn btn-warning" (click)="saveOrderItem()"><span class="glyphicon glyphicon-plus"></span></button>
                      </div>

                      <div class="form-group col-md-12">
                        <div class="col-sm-12 alert alert-danger" *ngIf="itemErrorsCounter != 0">
                          <h4>{{ 'errors' | translate }}</h4>
                          <ul>
                            <li *ngFor="let itemError of itemErrors"> {{ itemError | translate }} </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-md-12">
                       <table class="table table-striped table-bordered" *ngIf="orderitems.length!=0">
                        <thead>
                          <tr>
                            <th class="text text-center">{{ 'itemName' | translate }}</th>
                            <th class="text text-center">{{ 'quantity' | translate }}</th>
                            <th class="text text-center">{{ 'unit' | translate }}</th>
                            <th class="text text-right">{{ 'pricePerUnit' | translate }}</th>
                            <th class="text text-right">{{ 'totalPrice' | translate }}</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let orderitem of orderitems">
                              <td class="text text-center">{{orderitem.food.name}}</td>
                              <td class="text text-center" contenteditable='true' (input)="onRowClick($event, orderitem, 'orderitem.quantity')">{{orderitem.quantity}}</td>
                              <td class="text text-center">1 kg</td>
                              <td class="text text-right">{{orderitem.food.price}}</td>
                              <td class="text text-right">{{orderitem.food.price * orderitem.quantity}}</td>
                              <td class="text-center">
                                <button type="submit" class="btn btn-warning" (click)="editOrderItem(orderitem)">{{ 'edit' | translate }}</button>
                              </td>
                              <td class="text-center">
                                <button type="submit" class="btn btn-danger" (click)="deleteButton(orderitem)">{{ 'delete' | translate }}</button>
                              </td>
                          </tr>
                          <tr>
                            <td colspan="4"></td>
                            <td class="text-right"><strong>Total: {{total}}</strong></td>
                            <td colspan="3"></td>
                          </tr>
                        </tbody>
                      </table>

                     </div>
                  </div>
              </form>
            </div>
          </div>


        <app-delete-dialog [(visible)]="showDialog" class="text-center">
            <h1>{{ 'areYouSure' | translate }}</h1>
            <div class="text-center buttons">
              <button class="btn btn-lg btn-primary" (click)="deleteOrderItem()">{{ 'yes' | translate }}</button>
              <button class="btn btn-lg btn-danger" (click)="cancelButton()">{{ 'no' | translate }}</button>
            </div>
        </app-delete-dialog>
