          <h4>{{ 'newOrder' | translate }}</h4><br/>
          <div class="row">
            <div class="col-md-10">
              <form>
                  <div class="form-group">
                    <label for="orderNoInput">{{ 'orderNo' | translate }}</label>
                    <input [(ngModel)]="order.orderNo" name="orderNo" type="text" class="form-control" id="orderNoInput"/>
                  </div>
                   <div class="form-group">
                    <label for="supplierInput">{{ 'supplier' | translate }}</label>
                    <select class="form-control" [(ngModel)]="selectedSupplier.id" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let supplier of suppliers" value={{supplier.id}} >{{supplier.name}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="issueDateInput">{{ 'issueDate' | translate }}</label>
                    <input [(ngModel)]="order.issueDate" name="issueDate" type="date" class="form-control" id="issueDateInput" placeholder="Issue Date" />
                  </div>
                  <div class="form-group">
                    <label for="paymentDateInput">{{ 'paymentDate' | translate }}</label>
                    <input [(ngModel)]="order.paymentDate" name="paymentDate" type="date" class="form-control" id="paymentDateInput" placeholder="Payment Date" />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input id="hasDeliveyInput" [(ngModel)]="deliveryFlag" name="hasDelivey" type="checkbox" class="form-check-input">
                      {{ 'checkForDelivery' | translate }}
                    </label>
                  </div>
                  <div class="form-group" *ngIf="deliveryFlag">
                    <label for="deliveryDateInput">{{ 'deliveryDate' | translate }}</label>
                    <input [(ngModel)]="order.deliveryDate" name="deliveryDate" type="datetime-local" class="form-control" id="deliveryDateInput" placeholder="Delivery Date" />
                  </div>

                  <div class="form-group">
                    <div class="col-sm-12 alert alert-danger" *ngIf="errorsCounter != 0">
                      <h4>{{ 'errors' | translate }}</h4>
                      <ul>
                        <li *ngFor="let error of errors"> {{ error | translate }} </li>
                      </ul>
                    </div>
                  </div>

                   <div class="form-group">
                    <div class="buttons col-md-offset-5 col-md-7"><br/>
                         <button type="submit" class="btn btn-primary" (click)="saveOrder()">{{ 'submit' | translate }}</button>&nbsp;
                         <button type="submit" class="btn btn-warning" (click)="clearForm()">{{ 'cancel' | translate }}</button>
                    </div>
                  </div>
              </form>
            </div>
          </div>